<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form method="post">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="darkorange">
					<td width="300">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<font color="white">个人信息编辑</font>
					</td>
				</tr>
				<!--创建姓名选框 设置该项为必填项 调用input中required方法-->
				<tr>
					<td height="40">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						用户名:<input type="text" name="username" required placeholder="请输入昵称">
					</td>
				</tr>
				<tr>
					<td height="40">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						性别:<input type="text" name="sex">
					</td>
				</tr>
				<tr height="40">
					<td height="40">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						关注品牌:<input type="text" name="brand">
					</td>
				</tr>
				<tr height="40">
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;
						电子邮件:<input type="email" name="email">
					</td>
				</tr>
				<tr height="40" align="center">
					<td>
						<input type="submit" value="修改"/>
					</td>
				</tr>
				</table>
			</form>
	</body>
</html>