<!DOCTYPE html>
<html>
<head>
    <title>用户信息修改界面</title>

    <meta name="keywords" content="用户信息更新设计"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<h1>用户信息更改</h1>
<div class="login-form">
    <h2>信息修改</h2>
    <div class="form-info">
    <form method="POST">
        <input type="text" class="email" name="username" value="{{user.username}}">
        <input type="text" class="email" name="sex" value="{{user.sex}}">
        <input type="text" class="email" name="brand" value="{{user.brand}}">
        <input type="text" class="email" name="email" value="{{user.email}}">
        <ul class="update-buttons">
            <li><input type="submit" class="hvr-sweep-to-left" value="更新"/></li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
</body>
</html>